# Dependencies
/.dart_tool/
/build/
/pub/
/pub-cache/

# CocoaPods (for iOS/macOS development)
*.c
*.h
*.xcassets/
*.xcodeproj/
*.xcworkspace/
ios/Pods/

# Xcode Build Files
*.pbxuser
!default.xcuserproj
*.mode1v3.tdb
*.mode2v3.tdb
*.mode3v3.tdb

# Symbolic Links (macOS)
.DS_Store

# Flutter/Dart packages
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.flare/

# Build artifacts
.idea/
.vscode/
*/.git